body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://hbr.org/resources/images/article_assets/2020/08/Aug20_06_84753778.jpg");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.completed-task {
  text-decoration: line-through;
  color: #db3545;
}


